@{
    ViewData["Title"] = "Лучший проект!";
}

@{
    var UsersList = ViewBag.Users;
    var PhonesList = ViewBag.Phones;
    List<Phone> Phones = ViewBag.Phones;
    string @dataForm = ViewBag.DataForm;
}

<div class="">
    <a class="btn btn-primary m-2" role="button" asp-controller="Home" asp-action="UsersEdit">Добавить пользователя</a>
</div>
<h1>@dataForm</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Телефоны</th>
            <th scope="col"> </th>
            <th scope="col"> </th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in UsersList)
        {
            <tr>
                <th scope="row">
                    @row.id
                </th>
                <td>@row.first_name</td>
                <td>@row.last_name</td>
                <td>@row.second_name</td>
                <td>@row.date_birth</td>
                <td>
                    @foreach (var p in @row.phone_list)
                    {
                    <form method="post" asp-controller="Home" asp-action="UsersPhoneEdit">
                        <input type="hidden" name="user-id" value="@row.id" />
                        <input type="hidden" name="phone-id" value="@p.id" />
                        <input type="hidden" name="phone-id11111" value="@p.id" />
                        <button type="submit">отправить</button>
                        <a class="btn btn-primary m-2" role="button" type="submit" asp-controller="Home" asp-action="UsersPhoneEdit" asp-route-idPhone="@p.id" asp-route-idUser="@row.id">@p.phone</a>
                    </form>
                    }
                </td>

                <td>
                    <a asp-controller="Home" asp-action="UsersEdit" asp-route-id="@row.id">&#10000;</a>
                </td>
                <td>
                    <form method="post" asp-controller="Home" asp-action="UsersDelete">
                        <input type="hidden" value="@row.id" name="Id" />
                        <input type="submit" value=&#10008; />
                    </form>
                </td>

                <td>
                    <a asp-controller="Home" asp-action="UsersToPhone" asp-route-id="@row.id">&#10000;</a>
                </td>

            </tr>
        }
    </tbody>
</table>

<div class="">
    <a class="btn btn-primary m-2" role="button" asp-controller="Home" asp-action="PhoneEdit">Добавить номер телефона</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Телефон</th>
            <th scope="col"> </th>
            <th scope="col"> </th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Phone entity in Phones)
        {
            <tr>
                <th scope="row">
                    @entity.Id
                </th>
                <td>@entity.PhoneNumber</td>

                <td>
                    <a asp-controller="Home" asp-action="PhoneEdit" asp-route-id="@entity.Id">&#10000;</a>
                </td>
                <td>
                    <form method="post" asp-controller="Home" asp-action="PhoneDelete">
                        <input type="hidden" value="@entity.Id" name="Id" />
                        <input type="submit" value=&#10008; />
                    </form>
                </td>

                <td>
                    <a asp-controller="Home" asp-action="PhoneToUsers" asp-route-id="@entity.Id">&#10000;</a>
                </td>

            </tr>
        }
    </tbody>
</table>


