@{
    ViewData["Title"] = "Лучший проект!";
}

@{
    List<User>      Users       = ViewBag.Users;
    List<Phone>     Phones      = ViewBag.Phones;
    string @dataForm = ViewBag.DataForm;
}

<div class="">
    <a class="btn btn-primary m-2" role="button" asp-controller="Home" asp-action="UsersEdit">Добавить пользователя</a>
</div>
<h1>@dataForm</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Дата рождения</th>
            <th scope="col"> </th>
            <th scope="col"> </th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (User entity in Users)
        {
        <tr>
            <th scope="row">
                @entity.Id
            </th>
            <td>@entity.FirstName</td>
            <td>@entity.LastName</td>
            <td>@entity.SecondName</td>
            <td>@entity.DateBirth</td>
            <td>
                <a asp-controller="Home" asp-action="UsersEdit" asp-route-id="@entity.Id">&#10000;</a>
            </td>
            <td>
                <form method="post" asp-controller="Home" asp-action="UsersDelete">
                    <input type="hidden" value="@entity.Id" name="Id" />
                    <input type="submit" value=&#10008; />
                </form>
            </td>

            <td>
                <a asp-controller="Home" asp-action="UsersToPhone" asp-route-id="@entity.Id">&#10000;</a>
            </td>

        </tr>
        }
    </tbody>
</table>

<div class="">
    <a class="btn btn-primary m-2" role="button" asp-controller="Home" asp-action="PhoneEdit">Добавить номер телефона</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Телефон</th>
            <th scope="col"> </th>
            <th scope="col"> </th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Phone entity in Phones)
        {
        <tr>
            <th scope="row">
                @entity.Id
            </th>
            <td>@entity.PhoneNumber</td>

            <td>
                <a asp-controller="Home" asp-action="PhoneEdit" asp-route-id="@entity.Id">&#10000;</a>
            </td>
            <td>
                <form method="post" asp-controller="Home" asp-action="PhoneDelete">
                    <input type="hidden" value="@entity.Id" name="Id" />
                    <input type="submit" value=&#10008; />
                </form>
            </td>

            <td>
                <a asp-controller="Home" asp-action="PhoneToUsers" asp-route-id="@entity.Id">&#10000;</a>
            </td>

        </tr>
        }
    </tbody>
</table>


